# IDEs & Editors
.vscode/
.idea/
*.swp
*.swo

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/

# Environment Variables
.env
.env.local

# Build/Packaging
build/
dist/
*.egg-info/
